
html, body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.topo{
    background-color: #222222;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo img{
    height: 80px;
}

.conteudo{
    display: flex;
}

div {
    padding-bottom: 10px;
  }

.rodape{
    background-color:#222222;
    color: darkgrey;
    
}